@use "sass:color";
@use 'variables';
@use 'mixins';
@use 'base';

.contacto-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 97%;
    animation: fadeInUp 1.2s ease both;
    
}

.video-contacto {
    @extend %tarjeta-flotante;
    margin-top: 140px;
    margin-left: 30px;
    width: 100%;
    height: 900px;
    border-radius: 10px;
    object-fit: cover;
    
}

.video-wrapper {
    flex: 1;
}

.contacto-texto {
    @extend %tarjeta-flotante;
    margin-top: 163px;
    flex: 1;
    background-color: rgba(variables.$color-seccion, 0.95);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    color: variables.$color-texto;
  

    h2 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
        animation: slideInLeft 1s ease;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
}

.contacto-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input,
    textarea,
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        background-color: variables.$color-navbar;
        color: white;
        padding: 12px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: color.adjust(variables.$color-navbar, $lightness: -10%);

        }
    }

    label {
        font-weight: 600;
    }
}

.telefono-container {
    display: flex;
    gap: 10px;

    select {
        width: 40%;
    }

    input {
        flex: 1;
    }
}

@media (max-width: 991px) {
    .contacto-container {
        flex-direction: column;
        text-align: center;
    }

    .video-contacto {
        margin-top: 150px;
        margin-left: 15px;
        width: 85%;
        height: 700px;
    }

    .contacto-texto {
        width: 90%;
        margin-top: 10px;
        margin-left: 20px;
    }

    .contacto-form {
        align-items: center;

        input,
        select,
        textarea {
            width: 100%;
        }

        .telefono-container {
            flex-direction: column;

            select,
            input {
                width: 100%;
            }
        }

        button {
            width: 100%;
        }
    }
}