@use 'variables';
@use 'mixins';

.habitacion,
.habitacion2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  background-color: variables.$color-seccion;
  border-radius: 10px;
  margin: 200px auto;
  max-width: 90%;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
  }


  img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .habitacion-texto,
  .habitacion-texto2 {
    flex: 1;
    padding: 20px;
    color: variables.$color-texto;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      animation: slideInLeft 1s ease;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

@media (max-width: 991px) {
    .habitacion,
    .habitacion2 {
      flex-direction: column;
      text-align: center;
      margin: 160px auto;
  
      .habitacion-texto,
      .habitacion-texto2 {
        order: 1;
        width: 90%;
        padding: 10px;
      }
  
      .carousel {
        order: 2;
        width: 90%;
      }
  
      .carousel img {
        max-height: 250px;
        object-fit: cover;
      }
    }
  }
  