@use 'variables';
@use 'mixins';
@use 'base';
//  Carrusel principal
#carouselInicio {
  @extend %tarjeta-flotante;
  margin-top: 70px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  
  


  .carousel-inner {
    img {
      width: 100%;
      max-height: 700px;
      object-fit: cover;
      border-radius: 10px;
      transition: transform 0.3s ease-in-out; 
    }

    img:hover {
      transform: scale(1.02); 
    }
  }
}

//  Responsive
@media (max-width: 991px) {
  #carouselInicio {
    .carousel-inner {
      img {
        height: 500px;
        border-radius: 8px;
      }
    }
  }
}

.ubicacion {
  @extend %tarjeta-flotante;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(214, 108, 21, 0.404);
  padding: 30px;
  margin: 40px auto;
  border-radius: 10px;
  max-width: 90%;
  
  

  .textoUbicacion {
    width: 50%;
    text-align: left;
    padding: 20px;
    font-size: 1.2rem;
    color: variables.$color-principal;

  }

  .mapa {
    @extend %tarjeta-flotante;
    width: 50%;
    display: flex;
    justify-content: center;
    

    iframe {
      width: 100%;
      border-radius: 10px;
    }
  }
}
h2 {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    color: #2b1a06;
    font-family: 'Bona Nova SC', serif;
    animation: slideInLeft 1s ease-out;

    @media (max-width: 991px) {
      font-size: 24px;
      margin-top: 60px;
    }
  }
  


@media (max-width: 991px) {
    .ubicacion {
      flex-direction: column;
      text-align: center;
  
      .textoUbicacion {
        width: 90%;
      }
  
      .mapa iframe {
        width: 200%;
        height: 300px;
      }
    }
  }
  