$color-navbar: #815017;
$color-texto-nav: #ffffff;
$color-texto: #000000;
$color-header-bg: rgba(214, 108, 21, 0.404);
$color-seccion: #d4b28c;
$color-principal: #2b1a06;
$color-footer: #2b1a06;
$color-texto-footer: #f1e4d0;
$color-hover-footer: #d4b28c;
